<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% if show.episode_set.all %}
<h1>{{show.show_title}}</h1>
<ul>
    {% for episode in show.episode_set.all %}
    <li>
        <div>
            <!--<img src="{% static 'evaapp/images/{{show.show_title}}/{{episodio.ep_num}}.jpg' %}">-->
            {% with image_url='evaapp/images/'|add:show.show_title|add:'/ep_.jpg' %}
            <p>{{ image_url }}</p>
            <img src="{% static image_url %}">
            {% endwith %}


            <!--<img src="{% with image_url='evaapp/images/'|add:show.show_title|add:'/ep_'|add:episode.ep_num|add:'.jpg' %}{% static image_url %}{% endwith %}">-->

            <a href=""><p>Episódio {{episode.ep_num}} - {{ episode.ep_title }}</p></a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h1>não tem episódio</h1>
{% endif %}
</body>

</html>