<!DOCTYPE html>
{% load static %}
{% load convert_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% if show.episode_set.all %}
<h1>{{show.show_title}}</h1>
<ul>
    {% for episode in show.episode_set.all %}
    <li>
        <div>
            {% with ep=episode.ep_num|to_string show_title=show.show_title  %}
            {% with img_url='evaapp/images/'|add:show_title|add:'/ep_'|add:ep|add:'.jpg' %}
            <img src="{% static img_url %}">
            {% endwith %}
            {% endwith %}
            <a href=""><p>Episódio {{episode.ep_num}} - {{ episode.ep_title }}</p></a>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h1>não tem episódio</h1>
{% endif %}
</body>

</html>